<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a post</title>
</head>
<body>
    <% if(locals.user) {%>
    <form action="/create-post" method="post">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required>
        <label for="text">Content</label>
        <textarea id="text" name="text" required></textarea>
        <button type="submit">Create post</button>
    </form>
    <%- include("./partials/errors", {errors: locals.errors}); %>
    <% } else { %>
        <h1>You need to be <a href="/log-in">logged in</a> to view this page!</h1>
    <% } %>
</body>
</html>
